In [1]:
# imports
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import tweepy

In [2]:
tweet_data = pd.read_csv("CMU_MisCov19_dataset.csv")
tweet_data

,status_id,status_created_at,annotation1,annotation2
0,1237387231779840000,Tue Mar 10 14:38:00 +0000 2020,irrelevant,NaN
1,1240175235304960000,Wed Mar 18 07:16:32 +0000 2020,irrelevant,NaN
2,1241324844920320000,Sat Mar 21 11:24:40 +0000 2020,irrelevant,NaN
3,1241872361743360000,Sun Mar 22 23:40:18 +0000 2020,irrelevant,NaN
4,1243024442621440000,Thu Mar 26 03:58:16 +0000 2020,irrelevant,NaN
...,...,...,...,...
4568,1280654762950774785,Wed Jul 08 00:07:43 +0000 2020,calling out or correction,NaN
4569,1280669090835828738,Wed Jul 08 01:04:39 +0000 2020,fake cure,NaN
4570,1280675380014309376,Wed Jul 08 01:29:39 +0000 2020,calling out or correction,NaN
4571,1280676605396836352,Wed Jul 08 01:34:31 +0000 2020,politics,NaN
4572,1280693005599506432,Wed Jul 08 02:39:41 +0000 2020,calling out or correction,NaN

In [3]:
consumer_key = 'cSuIh662am6YtzuJNT1RWnzqF'
consumer_secret = 'V7uyDK3o3OLljPWMzQ9pKzGPK8tODHVFkHBgwDuEvf9c3g1eaX'
access_token = '2577558920-yKXNYAqsm3agfTwCuVLnDHQrrSfeIptFUIkqcID'
access_token_secret = '3GSupBB3egr7wzFY3QN2uVwGy3q38fkTaavNuzS1X4Ew0'
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [4]:
tweet_data['text'] = np.nan

In [5]:
for index, tweet in enumerate(tweet_data['status_id'][2000:]):
    try:
        obj = api.get_status(tweet, tweet_mode = "extended")
        try:
            tweet_data['text'][index+2000] = obj.full_text
        except:
            print('error retrieving text')
    except:
        pass
    if index % 100 == 0:
        print(index)
    
tweet_data

<ipython-input-5-8c2f1c0c0509>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweet_data['text'][index+2000] = obj.full_text
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

0
100
200
300
400
500
600
700
800

Rate limit reached. Sleeping for: 721

900
1000
1100
1200
1300
1400
1500
1600
1700

Rate limit reached. Sleeping for: 723

1800
1900
2000
2100
2200
2300
2400
2500

,status_id,status_created_at,annotation1,annotation2,text
0,1237387231779840000,Tue Mar 10 14:38:00 +0000 2020,irrelevant,NaN,NaN
1,1240175235304960000,Wed Mar 18 07:16:32 +0000 2020,irrelevant,NaN,NaN
2,1241324844920320000,Sat Mar 21 11:24:40 +0000 2020,irrelevant,NaN,NaN
3,1241872361743360000,Sun Mar 22 23:40:18 +0000 2020,irrelevant,NaN,NaN
4,1243024442621440000,Thu Mar 26 03:58:16 +0000 2020,irrelevant,NaN,NaN
...,...,...,...,...,...
4568,1280654762950774785,Wed Jul 08 00:07:43 +0000 2020,calling out or correction,NaN,Da fark is wrong with these people?!\n\nhttps:...
4569,1280669090835828738,Wed Jul 08 01:04:39 +0000 2020,fake cure,NaN,Doctor Finds Cure to COVID-19 (without Vaccine...
4570,1280675380014309376,Wed Jul 08 01:29:39 +0000 2020,calling out or correction,NaN,I can’t believe people legitimately think that...
4571,1280676605396836352,Wed Jul 08 01:34:31 +0000 2020,politics,NaN,"...(wrong with Trump continues), \n-Will push ..."
4572,1280693005599506432,Wed Jul 08 02:39:41 +0000 2020,calling out or correction,NaN,For anyone who still believes that COVID-19 is...

In [6]:
tweet_data.iloc[2000]

status_id                                          1265273219411578880
status_created_at                       Tue May 26 13:26:57 +0000 2020
annotation1                                          sarcasm or satire
annotation2                                                        NaN
text                 As opposed to the totally normal "drink bleach...
Name: 2000, dtype: object

In [25]:
# tweet_data.to_csv("miscov19.csv", index=False)

In [7]:
miscov_update = pd.read_csv("miscov19.csv")
temp = miscov_update['text']
temp

0       PAGS PARODY! Plus, Joe talks coronavirus and h...
1       #coronavirus shows that racists have absolutel...
2       @Laura1206 @ShitChester I would expect front l...
3       @kidjim25 Why would they be buying bleach thou...
4       The coronavirus is not only affecting the way ...
                              ...
4568                                                  NaN
4569                                                  NaN
4570                                                  NaN
4571                                                  NaN
4572                                                  NaN
Name: text, Length: 4573, dtype: object

In [8]:
temp[1000]

'@RudyGiuliani For malaria, dumbass, not for #COVID19'